body {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

h2 {
    padding: 2px 0;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    color: hsl(223, 47%, 23%);
}

p {
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    margin: 0;
}

button {
    margin: 30px auto 20px;
    padding: 15px 0;
    width: 355px;
    box-shadow: 0px 15px 20px hsl(245, 52%, 72%);
	background-color: hsl(245, 75%, 52%);
	border-radius:8px;
    border-style: none;
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

button:hover {
    background-color: hsl(245, 68%, 64%);
    cursor: pointer;
}

.container {
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: contain;
    background-position: top;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    text-align: center;
    margin: 0;
    font-size: 0;
    position: relative;
    box-shadow: 0px 0px 20px hsl(225, 100%, 85%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.card-banner {
    padding: 0;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-body {
    background-color: #fff;
    margin: auto;
    font-family: "Red Hat Display", sans-serif;
    width: 450px;
    padding-top: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-description {
    padding: 20px 70px;
    line-height: 1.5rem;
    font-size: 16px;
}

.annual-plan {
    padding: 25px 20px;
    text-align: left;
    display: grid;
    grid-template-columns: auto auto;
    background-color: hsl(225, 100%, 98%);
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 16px;
}

.annual-plan-text {
    text-align: center;
    margin: auto 0;
}

.annual-plan-link {
    text-align: right;
}

.annual-plan-link a {
    height: 56px;
    line-height: 56px;
    font-size: 14px;
}

.annual-plan-link a:hover {
    color: hsl(245, 68%, 64%);
}

.annual-plan img {
    float: left;
    height: 100%;;
}

.cancel {
    padding: 10px 0 50px;
}

.cancel a {
    font-family: "Red Hat Display", sans-serif;
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    color: grey;
}

.cancel a:hover {
    color: hsl(0, 0%, 11%);
}

.attribution {
    text-align: center;
    position: fixed;
    bottom: 10px;
}